* {
    margin: 0;
    padding: 0;
}

/* Efectos de boton encriptar */


.continue-application {
    margin-right: 20px; /* Agrega un margen de 10px a la derecha de cada botón */
    width: 300px; /* Establecer el ancho deseado para los botones */
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }
  

  /* fin de efecto de candado */

/* Efectos de boton encriptar */
.readmore-btn {
    width: fit-contentd;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(186, 125, 255);
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    gap: 0px;
    transition: all 0.4s;
    width: 300px; /* Establecer el ancho deseado para los botones */
  }
  .book-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 45px;
    height: 100%;
  }
  .book-wrapper .book-page {
    width: 50%;
    height: auto;
    position: absolute;
  }
  .readmore-btn:hover .book-page {
    animation: paging 0.4s linear infinite;
    transform-origin: left;
  }
  .readmore-btn:hover {
    background-color: rgb(159, 74, 255);
  }
  @keyframes paging {
    0% {
      transform: rotateY(0deg) skewY(0deg);
    }
    50% {
      transform: rotateY(90deg) skewY(-20deg);
    }
    100% {
      transform: rotateY(180deg) skewY(0deg);
    }
  }
  .text {
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  
 /* fin de efecto de desencriptar */


 /*Efecto de copiar */

 .notificacion {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out; /* Agregar transición de opacidad */
    opacity: 0; /* Inicialmente ocultar la notificación */
}

.notificacion.show {
    opacity: 1; /* Mostrar la notificación */
}
.btn-copiar span:last-child {
    display: none; /* Ocultar el segundo span inicialmente */
}

.btn-copiar.copiado span:first-child {
    display: none; /* Ocultar el primer span si se agrega la clase "copiado" */
}

.btn-copiar.copiado span:last-child {
    display: inline; /* Mostrar el segundo span si se agrega la clase "copiado" */
}




 .btn-copiar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 82%;
    box-sizing: border-box;
    justify-content: center;
    gap: 8px;
 
    border: 1px solid #ffffff;
    border-radius: 24px;
    font-family: "inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
  
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);  /* Corrige el centrado */
}



 .btn-copiar {
    background-color: #33b413;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
    transition-duration: 700ms;
  }
  
  .btn-copiar span:first-child {
    color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%)
  }
  
  .btn-copiar span:last-child {
    position: absolute;
    color: #ffffff;
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .btn-copiar:focus {
    background-color: #ffffff;
    width: 120px;
    height: 40px;
    transition-delay: 100ms;
    transition-duration: 500ms;
  }
  
  .btn-copiar:focus span:first-child {
    color: #ffffff;
    transform: translateX(-50%) translateY(-150%);
    opacity: 0;
    transition-duration: 500ms;
  }
  
  .btn-copiar:focus span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 500ms;
  }
  
  .btn-copiar:focus:end {
    background-color: #FFFFFF;
    width: 120px;
    height: 40px;
    transition-duration: 900ms;
  }
  
  .centralize {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .description {
    margin-top: 10px;
    color: #ffffff;
  }

/* fin de efecto de copiar*/


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}


.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none; /* Deshabilitar el redimensionamiento */
}

.texto::placeholder {
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;

}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}



.btn-desencriptar:hover,
.btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffff;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}


/*Estilos de imagenes*/
.welcome-image {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    border-radius: 10px;  /* display: block; Comentamos o eliminamos esta línea */
    margin: auto;
}


.icon {
    width: 30px;  /* Ajusta el ancho del icono según sea necesario */
    margin-right: 10px;  /* Espacio entre el icono y el texto */
}

.container-logo {}

.icon-logo {
    position: absolute;
    top: 10px;  /* Ajusta la separación desde la parte superior */
    left: 10px; /* Ajusta la separación desde la izquierda */
    z-index: 1;  /* Asegura que el logo esté por encima del texto */
}




/*responsive desing*/
@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
        margin-top: 50px; /* Ajusta este valor según sea necesario */
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
        bottom: 40%;
    }

    .terminos p {
        font-size: 16px;
    }


  

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .btn-copiar,
    .btn-copiar:hover {
        width: 48%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}

.mensaje-encriptado img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    margin-bottom: 10px;  /* Agregar un margen inferior para separar la imagen del texto */
}

#resultado {
    width: 80%;/* Ajustar el ancho al 60% del ancho del contenedor */
    height: 80%;
    left: 12%;
    right: 12%;
    top: 15%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #495057;
    text-align: center; /* Ajustar el texto justificado */
    resize: none; /* Deshabilitar el redimensionamiento */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es más largo que la altura del textarea */

}